<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.virosample.tesla">

    <queries>
        <package android:name="com.google.ar.core"/>
    </queries>

    <!-- Required for AR -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Required for Recording -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/viro_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.virosample.tesla.ViroActivityAR"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="IntentFilterExportedReceiver">
        </activity>
        <meta-data android:name="com.google.ar.core" android:value="optional" />
    </application>

</manifest>