<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.viromedia.releasetest">

    <queries>
        <package android:name="com.google.ar.core"/>
    </queries>

    <!-- Required to read the paired viewer's distortion parameters -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Required for AR -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
        tools:ignore="AllowBackup">
        <uses-library
            android:name="android.support.test.runner"
            android:required="false" />
        <activity
            android:name="com.viromedia.releasetest.ViroReleaseTestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode"
            android:enableVrMode="false"
            android:screenOrientation="sensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.google.intent.category.CARDBOARD" />
                <category android:name="com.google.intent.category.DAYDREAM" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.ar.core" android:value="optional" />
    </application>

</manifest>