name: Release with changelog

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@main
        with:
          configuration: ".github/changelog-configuration.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Install Android SDK
        uses: malinskiy/action-android/install-sdk@release/0.1.2

      - name: Build project
        run: ./gradlew assembleRelease
        working-directory: ./android

      - name: Get the version
        id: tagger
        uses: jimschubert/query-tag-action@v2
        with:
          skip-unshallow: 'true'
          abbrev: false
          commit-ish: HEAD

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{steps.tagger.outputs.tag}}
          name: ${{steps.tagger.outputs.tag}}
          body: ${{steps.github_release.outputs.changelog}}
          files: |
            android/virocore/build/outputs/aar/virocore-release*.aar
            android/viroar/build/outputs/aar/viro*.aar
            android/viroreact/build/outputs/aar/viro*.aar
            android/app/build/outputs/aar/*.aar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}