name: Release with changelog

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v4
        with:
          distribution: "adopt"
          java-version: 17

      - name: Get the version
        id: tagger
        uses: jimschubert/query-tag-action@v2
        with:
          skip-unshallow: "true"
          abbrev: false
          commit-ish: HEAD

      - name: Check pre-release
        run: |
          echo "tag=${{steps.tagger.outputs.tag}}"
          if [[ ${{ steps.tagger.outputs.tag }} == *alpha* || ${{ steps.tagger.outputs.tag }} == *beta*  || ${{ steps.tagger.outputs.tag }} == *rc* ]]
          then
             prerelease=true
          else
             prerelease=false
          fi
          echo "PRE_RELEASE=$prerelease" >> $GITHUB_ENV
          echo "prerelease=$prerelease"

      - name: Install Android SDK
        uses: malinskiy/action-android/install-sdk@release/0.1.3

      - name: Build project
        run: ./gradlew :viroreact:assembleRelease
        working-directory: ./android

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{steps.tagger.outputs.tag}}
          generate_release_notes: true
          prerelease: ${{ env.PRE_RELEASE }}
          name: ${{steps.tagger.outputs.tag}}
          files: |
            ./viroreact/build/outputs/aar/viroreact-release.aar
            ./viroar/build/outputs/aar/viroar-release.aar
            ./virocore/build/outputs/aar/virocore-release.aar
            ./sharedCode/build/outputs/aar/sharedCode-release.aar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
